aiosqlite==0.22.1
alembic==1.19.2
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
asyncpg==0.31.0
click==8.5.0
docxtpl==0.20.2
et_xmlfile==2.0.0
fastapi==0.141.1
greenlet==3.5.5
h11==0.16.0
idna==3.19
iniconfig==2.3.0
Jinja2==3.1.6
lxml==6.1.3
Mako==1.4.1
MarkupSafe==3.0.3
node==2.0.0
numpy==2.5.3
odict==2.0.0
openpyxl==3.1.5
packaging==26.3
pandas==3.0.5
pluggy==1.6.0
plumber==2.0.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-multipart==0.0.32
setuptools==84.0.0
six==1.17.0
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4
zope.component==7.1
zope.deferredimport==6.1.1
zope.deprecation==6.0
zope.event==6.2
zope.hookable==8.3
zope.interface==8.6
zope.lifecycleevent==6.0
zope.proxy==7.3
